In [3]:
import pandas as pd
import pickle

# Read in cleaned data
clean_data = "./data/processed/US_SRG_merged_clean.pkl"
df_clean = pd.read_pickle(clean_data)

df_clean.head()

,Date,Rain_mm,AirTemp_C,SolarRad_kWm2,VPD_kPa,SoilTemp_10cm_C,SoilH2O_m3m3,Wind_speed_ms,RelHum_%,ET_mm_month
0,2020-01-01,0.803,10.648,0.155802,0.8084,16.187,14.511,1.865,36.957678,17.5768
1,2020-02-01,0.928,11.139,0.195431,0.9336,16.180,13.042,2.313,29.533900,43.3578
2,2020-03-01,0.877,13.300,0.221349,0.9693,16.185,10.743,2.191,36.539953,55.9308
3,2020-04-01,0.271,18.385,0.319464,1.7799,16.182,5.891,2.142,15.823503,42.8244
4,2020-05-01,0.451,24.416,0.328748,2.6492,16.194,3.809,1.932,13.403330,59.3344